<div id="forest">
  <p class="intro"></p>
</div>
  <script>
    $(function(){
        $(".intro").typed({
            strings: ["Somewhere... deep in the forests of MakerSquaria lies our hero...",
              "The funny thing about our hero is that he doesn't realize that he's actually a hero...",
              "Follow the story of Ricky as he realizes his destiny and unlocks the hidden powers that lie dormant within...",
               "This is the story of....",
              "O^500R^500A^500N^500G^500U^500T^500A^500N^500G^500U^500L^500A^500R"],
              typeSpeed: 0,
            contentType: 'html',
            backDelay: 2000
        });

    });
</script>
